<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <h2 class="panel-header-title">Ranking after Quarter{{selectedquarer-1}}</h2>
            </div>
            <div class="col-md-1">
                <i style="padding-top:3px" uib-tooltip="Guide" tooltip-placement="top" tooltip-trigger="mouseenter" class="fa fa-bars fa-2x"></i>
            </div>
            <div class="col-md-1">
                <i style="padding-top:3px" ng-click='open("lg")' uib-tooltip="Help" tooltip-placement="top" tooltip-trigger="mouseenter" class="fa fa-question-circle fa-2x"></i>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <section>
            <br />
            <div class="row">
                <div class="col-md-offset-1 col-md-9">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player</th>
                                <th>Profit After Tax</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="player in Rankings">
                                <td>{{player.rank}}</td>
                                <td>
                                    {{player.playername}}
                                </td>
                                <td>
                                    {{player.pat}}
                                </td>
                                <td style="color:red">
                                    {{player.rank == 1 && selectedquarter  == 4 ? "Winner" : ""}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /ko -->
        </section>
    </div>
    <div class="panel-footer"></div>
</div>