<div ng-class="{'notstartedmessage' : gameStarted }" class="row">
    <div class="col-md-6 col-md-offset-2">
        <pre style="text-align:center">Game Not Started Yet!</pre>
    </div>
</div>

<span ng-class="{'hideme' : !gameStarted}">
    <div class="row">
        <br />
        <br />
        <div class="col-md-9  col-md-offset-1">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium tile-teal">
                    <a ui-sref="playgame.ManagingChannelPartner" href=""><h4>MANAGING CHANNEL PARTNER</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a ui-sref="playgame.ManagingSalesTeam" href=""><h4>MANAGING SALES TEAM</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a ui-sref="playgame.ManagingPromotions" href=""><h4>MANAGING PROMOTIONS</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a ui-sref="playgame.ManagingProduct" href=""><h4>MANAGING PRODUCT</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9  col-md-offset-1">
            <div ng-show="isSelectedQuarterOver && selectedquarter == 1" class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium tile-teal">
                    <a ui-sref="playgame.Q1-Reports({selectedquarter : selectedquarter})" href=""><h4>FINANCIAL REPORTS</h4></a>
                </div>
            </div>
            <div ng-show="isSelectedQuarterOver && selectedquarter == 1" class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a ui-sref="playgame.MarketReports" href=""><h4>MARKET RESEARCH REPORTS</h4></a>
                </div>
            </div>
            <div ng-show="isSelectedQuarterOver" class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a ui-sref="playgame.Rankings({selectedquarter : selectedquarter})" href=""><h4>PLAYER RANKINGS AFTER QUARTER {{selectedquarter}} !</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div ng-show="false" class="thumbnail tile tile-medium">
                    <a ui-sref="playgame.ManagingPromotions" href=""><h4>MAILBOX</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div ng-show="false" class="thumbnail tile tile-medium">
                    <a ui-sref="playgame.ManagingPromotions" href=""><h4>HELP!!!</h4></a>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-9  col-md-offset-1">
            <div class="col-sm-6 col-md-3">
                <div ng-show="false" class="thumbnail tile tile-medium tile-teal">
                    <a href="/fmcg/Manage"><h4>ADMIN</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <pre style="text-align:center">Do not refresh the browser when playing the game!</pre>
        </div>
    </div>
</span>
