<section id="homepage" class="view">
    <div class="row">
        <div class="col-md-9  col-md-offset-1">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium tile-teal">
                    <a href="#/ManagingChannelPartner"><h4>MANAGING CHANNEL PARTNER</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a href="#/ManagingSalesTeam"><h4>MANAGING SALES TEAM</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a href="#/ManagingPromotions"><h4>MANAGING PROMOTIONS</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a href="#/ManagingProduct"><h4>MANAGING PRODUCT</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9  col-md-offset-1">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium tile-teal">
                    <a href="#/Q1-Reports"><h4>FINANCIAL REPORTS</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a href="#/ManagingSalesTeam"><h4>MARKET RESEARCH REPORTS</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a href="#/ManagingPromotions"><h4>MAILBOX</h4></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium">
                    <a href="#/ManagingPromotions"><h4>HELP!!!</h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9  col-md-offset-1">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail tile tile-medium tile-teal">
                    <a href="/fmcg/Manage"><h4>ADMIN</h4></a>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="tile-group quadro align-center-tiles">
        <div class="tile-container">
            <div class="tile bg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="tile-label"><a href="#/ManagingChannelPartner">MANAGING CHANNEL PARTNER</a></span>
                </div>
            </div>
            <div class="tile bg-violet" data-role="tile">
                <div class="tile-content iconic">
                    <icon />
                    <span class="tile-label"><a href="#/ManagingSalesTeam">MANAGING SALES TEAM</a></span>
                </div>
            </div>
            <div class="tile bg-emerald" data-role="tile">
                <div class="tile-content iconic">
                    <icon />
                    <span class="tile-label"><a href="#/ManagingPromotions">MANAGING PROMOTION</a></span>
                </div>
            </div>
            <div class="tile bg-amber" data-role="tile">
                <div class="tile-content iconic">
                    <icon />
                    <span class="tile-label"><a href="#/ManagingProduct">MANAGING PRODUCT</a></span>
                </div>
            </div>
            <div class="tile bg-cobalt" data-role="tile">
                <div class="tile-content iconic">
                    <icon />
                    <span class="tile-label"><a href="#/Q1-Reports">FINANCIAL REPORTS</a></span>
                </div>
            </div>
            <div class="tile bg-brown" data-role="tile">
                <div class="tile-content iconic">
                    <icon />
                    <span class="tile-label">MARKET RESEARCH REPORTS</span>
                </div>
            </div>
            <div class="tile bg-blue" data-role="tile">
                <div class="tile-content iconic">
                    <icon />
                    <span class="tile-label">MAILBOX</span>
                </div>
            </div>
            <div class="tile bg-red" data-role="tile">
                <div class="tile-content iconic">
                    <icon />
                    <span class="tile-label">HELP !!!</span>
                </div>
            </div>
            <div class="tile bg-white" data-role="tile">
                <div class="tile-content iconic">
                    <icon />
                    <span class="tile-label"><a href="/fmcg/Manage">ADMIN</a></span>
                </div>
            </div>
        </div>
    </div>-->

</section>