<section id="homepage" class="view" ng-controller="fmcgCtrl">
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <knob knob-data="data" knob-options="options7"></knob>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <br />
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active" btn-radio="1" ng-model="selectedquarter" ng-click="setServiceSelectedQuarter(1)" ng-class="{'disabled': !isQuarter1Started}"><strong>QTR-1</strong></label>
                <label class="btn btn-primary" btn-radio="2" ng-model="selectedquarter" ng-click="setServiceSelectedQuarter(2)" ng-class="{'disabled': !isQuarter2Started}"><strong>QTR-2</strong></label>
                <label class="btn btn-primary" btn-radio="3" ng-model="selectedquarter" ng-click="setServiceSelectedQuarter(3)" ng-class="{'disabled': !isQuarter3Started}"><strong>QTR-3</strong></label>
                <label class="btn btn-primary" btn-radio="4" ng-model="selectedquarter" ng-click="setServiceSelectedQuarter(4)" ng-class="{'disabled': !isQuarter4Started}"><strong>QTR-4</strong></label>
            </div>
            <br />
        </div>
    </div>

    <div class="row">
        <ul class="nav nav-tabs">
            <li ng-class="{'active': selectedquarter == 1}">
                <a href="#home" data-toggle="tab" title="welcome">
                    <div ng-class="{'animated flash infinite': data > 0 && isQuarter1Started && !isQuarter1Over}">
                        <span class="round-tabs one">
                            Q1
                        </span>
                    </div>
                </a>
            </li>


            <li ng-class="{'active': selectedquarter == 2}">
                <a href=" #profile" data-toggle="tab" title="profile">
                    <div ng-class="{'animated flash infinite': data > 0 && isQuarter2Started && !isQuarter2Over}">
                        <span class="round-tabs two">
                            Q2
                        </span>
                    </div>
                </a>
            </li>


            <li ng-class="{'active': selectedquarter == 3}">
                <a href="#messages" data-toggle="tab" title="bootsnipp goodies">
                    <span class="round-tabs three">
                        Q3
                    </span>
                </a>
            </li>

            <li class="disabled" ng-class="{'disabled': !isQuarter4Started}">
                <a href="#settings" data-toggle="tab" title="blah blah">
                    <span class="round-tabs four">
                        Q4
                    </span>
                </a>
            </li>

            <li class="disabled">
                <a href="#doner" data-toggle="tab" title="completed">
                    <span class="round-tabs five">
                        <i class="glyphicon glyphicon-ok"></i>
                    </span>
                </a>
            </li>

        </ul>

    </div>

    <div class="row">
        <div class="col-md-2">
            <a type="button" ui-sref="playgame.Dashboard" href="" class="btn btn-success">Back to Dashboard</a>
        </div>
        <!--<div class="col-md-3 col-md-offset-3">
            <knob knob-data="data" knob-options="options7"></knob>
            <br />
        </div>-->
    </div>

    <div ui-view>
        <div class="row">
            <br />
            <br />
            <div class="col-md-9  col-md-offset-1">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail tile tile-medium tile-teal">
                        <a ui-sref="playgame.ManagingChannelPartner" href=""><h4>MANAGING CHANNEL PARTNER</h4></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail tile tile-medium">
                        <a ui-sref="playgame.ManagingSalesTeam" href=""><h4>MANAGING SALES TEAM</h4></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail tile tile-medium">
                        <a ui-sref="playgame.ManagingPromotions" href=""><h4>MANAGING PROMOTIONS</h4></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail tile tile-medium">
                        <a ui-sref="playgame.ManagingProduct" href=""><h4>MANAGING PRODUCT</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9  col-md-offset-1">
                <div ng-show="isSelectedQuarterOver" class="col-sm-6 col-md-3">
                    <div class="thumbnail tile tile-medium tile-teal">
                        <a ui-sref="playgame.Q1-Reports" href=""><h4>FINANCIAL REPORTS</h4></a>
                    </div>
                </div>
                <div ng-show="isSelectedQuarterOver" class="col-sm-6 col-md-3">
                    <div class="thumbnail tile tile-medium">
                        <a ui-sref="playgame.MarketReports" href=""><h4>MARKET RESEARCH REPORTS</h4></a>
                    </div>
                </div>
                <div ng-show="isSelectedQuarterOver" class="col-sm-6 col-md-3">
                    <div class="thumbnail tile tile-medium">
                        <a ui-sref="playgame.ManagingPromotions" href=""><h4>PLAYER RANKINGS AFTER QUARTER {{selectedquarter}} !</h4></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail tile tile-medium">
                        <a ui-sref="playgame.ManagingPromotions" href=""><h4>MAILBOX</h4></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail tile tile-medium">
                        <a ui-sref="playgame.ManagingPromotions" href=""><h4>HELP!!!</h4></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-9  col-md-offset-1">
                <div class="col-sm-6 col-md-3">
                    <div ng-show="false" class="thumbnail tile tile-medium tile-teal">
                        <a href="/fmcg/Manage"><h4>ADMIN</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <pre style="text-align:center">Do not refresh the browser when playing the game!</pre>
            </div>
        </div>
    </div>
</section>