<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5 well well-lg">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <!-- Single button using append-to-body -->
                <div class="btn-group" dropdown dropdown-append-to-body>
                    <button id="btn-append-to-body" type="button" class="btn btn-default" dropdown-toggle>
                        Pick an Industry <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem"><a href="#">FMCG</a></li>
                        <li role="menuitem"><a href="#">Logistics</a></li>
                        <li role="menuitem"><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Single button using append-to-body -->
                <div class="btn-group" dropdown dropdown-append-to-body>
                    <button id="btn-append-to-body" type="button" class="btn btn-default" dropdown-toggle>
                        Pick a Game <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                        <li role="menuitem"><a href="#">Action</a></li>
                        <li role="menuitem"><a href="#">Another action</a></li>
                        <li role="menuitem"><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row-top-buffer">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3">Enter Code : </span>
                    <select class="form-control">
                        <option>30-Jun-2015</option>
                        <option>15-Jun-2015</option>
                        <option>10-Jun-2015</option>
                        <option>1-Jun-2015</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row row-top-buffer">
            <div class="col-md-7 col-md-offset-4">
                <button type="button" class="btn btn-success">Play Now!</button>
            </div>
        </div>
    </div>
</div>
