<!-- Indicates a successful or positive action -->
<div data-ng-app="appMain">
    <form action="#/" method="get">
        <button type="submit" class="btn btn-success">Back to Dashboard</button>
    </form>
    <div ng-view></div>
</div>
