body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.tile-area-controls {
    position: fixed;
    right: 40px;
    top: 40px;
}

.align-center-tiles {
    float: none !important;
    margin: 0 auto !important;
}

.handsontable {
    margin-bottom: 10px;
    color: #000;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif !important;
}

.scroll-container {
    width: 1800px;
    height: 500px;
    overflow: hidden;
}

#adminsheet {
}

.tile h3, .tile h4 {
    margin-top: 30px !important;
}

.bsnavbar {
    margin-bottom: 19px;
    min-height: 54px;
}

.progress {
    height: 30px;
}

.row-top-buffer { margin-top:20px !important; }