body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color: #f5f5f5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.tile-area-controls {
    position: fixed;
    right: 40px;
    top: 40px;
}

.align-center-tiles {
    float: none !important;
    margin: 0 auto !important;
}

.handsontable {
    margin-bottom: 10px;
    color: #000;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif !important;
}

.scroll-container {
    width: 1800px;
    height: 500px;
    overflow: hidden;
}

#adminsheet {
}

.tile h3, .tile h4 {
    margin-top: 5px !important;
}

.tile-img {
    margin-top: 5px;
    width: 55px;
}

.bsnavbar {
    margin-bottom: 19px;
    min-height: 54px;
}

.progress {
    height: 30px;
}

.row-top-buffer {
    margin-top: 40px !important;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.flash {
    animation-duration: 2s !important;
    animation-delay: 2s !important;
    -webkit-animation-duration: 2s !important;
    -webkit-animation-delay: 2s !important;
}


/*.progress-bar,uib-bar{
 background:  rgb(255, 215, 109);
-webkit-animation-name: pulse; 
-webkit-animation-duration: 2s; 
-webkit-animation-iteration-count: infinite;
animation-name: pulse;
animation-duration: 2s;
animation-iteration-count: infinite;
}


@-webkit-keyframes pulse { 
0%   {background: rgb(255, 215, 109);}
25%   {background: rgb(255, 215, 109);}
50%   {background: rgb(255, 215, 109);}
75%  {background: rgb(255, 231, 167);}
85%{background: rgb(255, 215, 109);}
100% {background: rgb(255, 215, 109);}
}

@keyframes pulse {
0%   {background: rgb(255, 215, 109);}
25%   {background: rgb(255, 215, 109);}
50%   {background: rgb(255, 215, 109);}
75%  {background: rgb(255, 231, 167);}
100% {background: rgb(255, 215, 109);}
}*/


pre {
    font-size: 18px;
    color: #00aba9;
}

.navbar-default {
    background-color: #30426a;
    border-color: #30426a;
}

.btn-circle {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

    .btn-circle.btn-lg {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
    }




.hexagon {
    position: relative;
    width: 300px;
    height: 173.21px;
    background-color: #64C7CC;
    margin: 86.60px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.65);
}

    .hexagon:before,
    .hexagon:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 212.13px;
        height: 212.13px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 43.9340px;
        box-shadow: 0 0 20px rgba(0,0,0,0.65);
    }

    .hexagon:before {
        top: -106.0660px;
    }

    .hexagon:after {
        bottom: -106.0660px;
    }

    /*cover up extra shadows*/
    .hexagon span {
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 300px;
        height: 173.2051px;
        z-index: 2;
        background: inherit;
    }


.hideme {
    visibility: hidden;
}

.notstartedmessage {
    display: none;
}

.panel-heading {
    padding: 10px !important;
}

.btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}

.panel-header-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-header-button {
    margin-top: 3px;
}
