body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color: #f5f5f5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.tile-area-controls {
    position: fixed;
    right: 40px;
    top: 40px;
}

.align-center-tiles {
    float: none !important;
    margin: 0 auto !important;
}

.handsontable {
    margin-bottom: 10px;
    color: #000;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif !important;
}

.scroll-container {
    width: 1800px;
    height: 500px;
    overflow: hidden;
}

#adminsheet {
}

.tile h3, .tile h4 {
    margin-top: 30px !important;
}

.bsnavbar {
    margin-bottom: 19px;
    min-height: 54px;
}

.progress {
    height: 30px;
}

.row-top-buffer {
    margin-top: 40px !important;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

#flashy {
    animation-duration: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
}


/*.progress-bar,uib-bar{
 background:  rgb(255, 215, 109);
-webkit-animation-name: pulse; 
-webkit-animation-duration: 2s; 
-webkit-animation-iteration-count: infinite;
animation-name: pulse;
animation-duration: 2s;
animation-iteration-count: infinite;
}


@-webkit-keyframes pulse { 
0%   {background: rgb(255, 215, 109);}
25%   {background: rgb(255, 215, 109);}
50%   {background: rgb(255, 215, 109);}
75%  {background: rgb(255, 231, 167);}
85%{background: rgb(255, 215, 109);}
100% {background: rgb(255, 215, 109);}
}

@keyframes pulse {
0%   {background: rgb(255, 215, 109);}
25%   {background: rgb(255, 215, 109);}
50%   {background: rgb(255, 215, 109);}
75%  {background: rgb(255, 231, 167);}
100% {background: rgb(255, 215, 109);}
}*/


pre {
    font-size: 18px;
    color: #00aba9;
}

.navbar-default {
    background-color: #30426a;
    border-color: #30426a;
}

.btn-circle {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

@media( max-width : 585px ) {

   

    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .tab-content .head {
        font-size: 20px;
    }

    .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding: 12px 20px;
    }
}
