<section>
    <h3>Channel Partner Management</h3>
    <br />
    <div class="row">
        <div class="col-md-5" ng-class="selectedquarter <= 2 ? 'col-md-offset-3' : 'col-md-offset-0'">
            <div class="form-group">
                <strong><pre style="text-align:center">1L SKU</pre></strong>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!--<form name="form" class="form-horizontal">-->
                    <!--<div class="form-group">
                        <label>PTD</label>
                        <input type="number" ng-model="FMCGDataModel.PTD" ng-disabled="isSelectedQuarterOver" class="form-control" id="inputEmail3">
                    </div>-->
                    <div class="form-group" ng-class="{ 'has-error': form.pricetocompany.$invalid}">
                        <label>Price to Company</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <input name="pricetocompany" type="number" readonly step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-value="FMCGClient.PriceToCompany()" ng-disabled="isSelectedQuarterOver" class="form-control" />
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.retailmargin.$invalid}">
                        <label>Company Margin (in %)</label>
                        <input name="retailmargin" type="number" step="0.01" min="0.00" max="1.00" popover="Value between 0 and 1" popover-trigger="focus" required ng-model="FMCGDataModel.CompanyMargin" ng-disabled="isSelectedQuarterOver" class="form-control" />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.vat.$invalid}">
                        <label>VAT @ 5%</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <input name="vat" type="number" readonly step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-value="FMCGClient.VAT()" ng-disabled="isSelectedQuarterOver" class="form-control" />
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.pricetodistributor.$invalid}">
                        <label>Price to Distributor</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <input name="pricetodistributor" type="number" readonly step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-value="FMCGClient.PriceToDistributor" ng-disabled="isSelectedQuarterOver" class="form-control" />
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="savePlayerData()" ng-disabled="isSelectedQuarterOver || form.dbmargin.$invalid || form.retailmargin.$invalid || form.companymargin.$invalid" class="btn btn-default">Submit</button>
                    </div>
                    <!--</form>-->
                </div>
                <div class="col-md-6">
                    <!-- <form name="form" class="form-horizontal">-->
                    <div class="form-group" ng-class="{ 'has-error': form.dbmargin.$invalid}">
                        <label>Distributor Margin (in %)</label>
                        <input name="dbmargin" type="number" step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-model="FMCGDataModel.DistributorMargin" ng-disabled="isSelectedQuarterOver" class="form-control" />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.pricetoretailer.$invalid}">
                        <label>Price to Retailer</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <input name="pricetoretailer" type="number" readonly step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-value="FMCGClient.PriceToRetailer()" ng-disabled="isSelectedQuarterOver" class="form-control" />
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.retailmargin.$invalid}">
                        <label>Retailer Margin (in %)</label>
                        <input name="retailmargin" type="number" step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-model="FMCGDataModel.RetailerMargin" ng-disabled="isSelectedQuarterOver" class="form-control" />
                        <!--<div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <div class="input-group-addon">.00</div>
                        </div>-->
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.pricetocustomer.$invalid}">
                        <label>Price to Customer</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <input name="pricetocustomer" type="number" readonly step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-value="FMCGClient.PriceToCustomer()" ng-disabled="isSelectedQuarterOver" class="form-control" />
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1" ng-show="selectedquarter > 2">
            <div class="form-group">
                <strong><pre style="text-align:center">5L SKU</pre></strong>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!--<form name="form" class="form-horizontal">-->
                    <!--<div class="form-group">
                        <label>PTD</label>
                        <input type="number" ng-model="FMCGDataModel.PTD" ng-disabled="isSelectedQuarterOver" class="form-control" id="inputEmail3">
                    </div>-->
                    <div class="form-group" ng-class="{ 'has-error': form.pricetocompany.$invalid}">
                        <label>Price to Company</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <input name="pricetocompany" type="number" readonly step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-value="FMCGClient.PriceToCompany()" ng-disabled="isSelectedQuarterOver" class="form-control" />
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.retailmargin.$invalid}">
                        <label>Company Margin (in %)</label>
                        <input name="retailmargin" type="number" step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-model="FMCGDataModel.CompanyMargin5L" ng-disabled="isSelectedQuarterOver" class="form-control" />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.vat.$invalid}">
                        <label>VAT @ 5%</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <input name="vat" type="number" readonly step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-value="FMCGClient.VAT5L()" ng-disabled="isSelectedQuarterOver" class="form-control" />
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.pricetodistributor.$invalid}">
                        <label>Price to Distributor</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <input name="pricetodistributor" type="number" readonly step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-value="FMCGClient.PriceToDistributor5L()" ng-disabled="isSelectedQuarterOver" class="form-control" />
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <button type="submit" ng-click="savePlayerData()" ng-disabled="isSelectedQuarterOver || form.dbmargin.$invalid || form.retailmargin.$invalid || form.companymargin.$invalid" class="btn btn-default">Save</button>
                    </div>-->
                    <!--</form>-->
                </div>
                <div class="col-md-6">
                    <!-- <form name="form" class="form-horizontal">-->
                    <div class="form-group" ng-class="{ 'has-error': form.dbmargin.$invalid}">
                        <label>Distributor Margin (in %)</label>
                        <input name="dbmargin" type="number" step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-model="FMCGDataModel.DistributorMargin5L" ng-disabled="isSelectedQuarterOver" class="form-control" />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.pricetoretailer.$invalid}">
                        <label>Price to Retailer</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <input name="pricetoretailer" type="number" readonly step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-value="FMCGClient.PriceToRetailer5L()" ng-disabled="isSelectedQuarterOver" class="form-control" />
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.retailmargin.$invalid}">
                        <label>Retailer Margin (in %)</label>
                        <input name="retailmargin" type="number" step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-model="FMCGDataModel.RetailerMargin5L" ng-disabled="isSelectedQuarterOver" class="form-control" />

                        <!--<div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <div class="input-group-addon">.00</div>
                        </div>-->
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.pricetocustomer.$invalid}">
                        <label>Price to Customer</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                            <input name="pricetocustomer" type="number" readonly step="0.01" min="0" max="1" popover="Value between 0 and 1" popover-trigger="focus" required ng-value="FMCGClient.PriceToCustomer5L()" ng-disabled="isSelectedQuarterOver" class="form-control" />
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</section>