<section>
    <div class="row">
        <div class="col-md-2">
            <a type="button" href="#/Dashboard" class="btn btn-success">Back to Dashboard</a>
        </div>
        <div class="col-md-3 col-md-offset-3">
            <knob knob-data="data" knob-options="options7"></knob>
            <br />
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12">
            <timer language="en" countdown="q1time" interval="1000" finish-callback="Q1finished()" autostart="false">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
            <br />
        </div>
    </div>-->

    <h3>Promotion Management</h3>
    <br />
    <div class="row">
        <div class="col-md-offset-1 col-md-3">
            <div class="row">
                <form class="form-horizontal">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Rs.</div>
                            <input type="number" required ng-model="FMCGDataModel.NewspaperAds" ng-disabled="isSelectedQuarterOver" class="form-control" ng-change="onPromotionsDataChange()" placeholder="in ₹">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>TV Advertisement</label>
                        <div class="col-md-10">
                            <input type="number" required ng-model="FMCGDataModel.TVAds" ng-disabled="isSelectedQuarterOver" class="form-control" ng-change="onPromotionsDataChange()" placeholder="in ₹">
                        </div>
                        <div class="col-md-2">
                            <div style="height:40px ; width:40px">
                                <pie-chart data="tvPiedata" options="tvPieoptions" class="chart"></pie-chart>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Newspaper</label>
                        <div class="input-group">
                            <div class="input-group-addon">Rs.</div>
                            <input type="number" required ng-model="FMCGDataModel.NewspaperAds" ng-disabled="isSelectedQuarterOver" class="form-control" ng-change="onPromotionsDataChange()" placeholder="in ₹">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Hoardings</label>
                        <input type="number" required ng-model="FMCGDataModel.HoardingAds" ng-disabled="isSelectedQuarterOver" class="form-control" ng-change="onPromotionsDataChange()" placeholder="in ₹">
                    </div>
                    <!--<div class="form-group">
                        <label>Total ATL Expense</label>
                        <input type="number" class="form-control" ng-disabled="isSelectedQuarterOver" ng-model="FMCGDataModel.TotalATLExpenseCalculated()" readonly placeholder="in ₹">
                    </div>-->
                </form>
            </div>
            <br />
            <br />
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Promoters</label>
                        <input type="number" required ng-model="FMCGDataModel.Promoters" ng-disabled="isSelectedQuarterOver" class="form-control" ng-change="onPromotionsDataChange()" placeholder="in ₹">
                    </div>
                    <div class="form-group">
                        <label>Sampling</label>
                        <input type="number" required ng-model="FMCGDataModel.Sampling" ng-disabled="isSelectedQuarterOver" class="form-control" ng-change="onPromotionsDataChange()" placeholder="in ₹">
                    </div>
                    <div class="form-group">
                        <label>In shop branding</label>
                        <input type="number" required ng-model="FMCGDataModel.InShopBranding" ng-disabled="isSelectedQuarterOver" class="form-control" ng-change="onPromotionsDataChange()" placeholder="in ₹">
                    </div>
                    <!--<div class="form-group">
                        <label>Total BTL Expense</label>
                        <input type="number" ng-model="FMCGDataModel.TotalBTLExpenseCalculated()" ng-disabled="isSelectedQuarterOver" readonly class="form-control" placeholder="in ₹">
                    </div>-->
                </form>
            </div>
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <button type="submit" ng-click="savePlayerData()" ng-disabled="isSelectedQuarterOver" class="btn btn-default">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <!--<canvas id="doughnut" class="chart chart-doughnut"
                            chart-data="doughdata" chart-legend="true" chart-labels="doughlabels"></canvas>-->
                    <nvd3 options="nvoptions" data="nvdata"></nvd3>
                    <div style="height:300px ; width:300px">
                        <pie-chart data="ATLpieData" options="pieOptions" class="chart"></pie-chart>
                    </div>
                    <!--<pie-chart data="piedata" options="pieoptions" class="chart"></pie-chart>-->
                </div>
            </div>
        </div>
    </div>
</section>

<pie-chart data="pieData" options="pieOptions"></pie-chart>
