<section>
    <div class="row">
        <div class="col-md-2">
            <a type="button" href="#/Dashboard" class="btn btn-success">Back to Dashboard</a>
        </div>
        <div class="col-md-3 col-md-offset-3">
            <knob knob-data="data" knob-options="options7"></knob>
            <br />
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-12">
            <timer language="en" countdown="q1time" interval="1000" finish-callback="Q1finished()" autostart="false">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
            <br />
        </div>
    </div>-->

    <h3>Promotion Management</h3>
    <br />
    <div class="row">
    <div class="col-md-offset-1 col-md-3">
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>TV Advertisement</label>
                        <input type="number" required ng-model="FMCGDataModel.TVAds" ng-disabled="isSelectedQuarterOver" class="form-control" placeholder="in ₹">
                    </div>
                    <div class="form-group">
                        <label>Newspaper</label>
                        <input type="number" required ng-model="FMCGDataModel.NewspaperAds" ng-disabled="isSelectedQuarterOver" class="form-control" placeholder="in ₹">
                    </div>
                    <div class="form-group">
                        <label>Hoardings</label>
                        <input type="number" required ng-model="FMCGDataModel.HoardingAds" ng-disabled="isSelectedQuarterOver" class="form-control" placeholder="in ₹">
                    </div>
                    <!--<div class="form-group">
                        <label>Total ATL Expense</label>
                        <input type="number" class="form-control" ng-disabled="isSelectedQuarterOver" ng-model="FMCGDataModel.TotalATLExpenseCalculated()" readonly placeholder="in ₹">
                    </div>-->
                </form>
            </div>
            <br />
            <br />
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Promoters</label>
                        <input type="number" required ng-model="FMCGDataModel.Promoters" ng-disabled="isSelectedQuarterOver" class="form-control" placeholder="in ₹">
                    </div>
                    <div class="form-group">
                        <label>Sampling</label>
                        <input type="number" required ng-model="FMCGDataModel.Sampling" ng-disabled="isSelectedQuarterOver" class="form-control" placeholder="in ₹">
                    </div>
                    <div class="form-group">
                        <label>In shop branding</label>
                        <input type="number" required ng-model="FMCGDataModel.InShopBranding" ng-disabled="isSelectedQuarterOver" class="form-control" placeholder="in ₹">
                    </div>
                    <!--<div class="form-group">
                        <label>Total BTL Expense</label>
                        <input type="number" ng-model="FMCGDataModel.TotalBTLExpenseCalculated()" ng-disabled="isSelectedQuarterOver" readonly class="form-control" placeholder="in ₹">
                    </div>-->
                </form>
            </div>
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <button type="submit" ng-click="savePlayerData()" ng-disabled="isSelectedQuarterOver" class="btn btn-default">Save</button>
                    </div>
                </form>
            </div>
        </div>
    <div class="col-md-offset-1 col-md-7">
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <strong><pre style="text-align:center">Sales - Quarter {{selectedquarter}}</pre></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--<canvas id="doughnut" class="chart chart-doughnut"
                        chart-data="doughdata" chart-legend="true" chart-labels="doughlabels"></canvas>-->
                <pie-chart data="piedata" options="pieoptions" class="chart"></pie-chart>
            </div>
        </div>
     </div>
    </div>
</section>