<section id="fmcg-channelpartnermanagement" class="view">
    <!-- ko with: fmcg -->
    <div class="grid">
        <h3>Channel Partner Management</h3>
        <br />
        <div class="row cells12">
            <div class="cell colspan8">
                ok
            </div>
            <div class="cell colspan4">
                <div class="cell">
                    <form class="form-horizontal" action="#/Save" method="post">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">PTD</label>
                            <div class="col-sm-10">
                                <input type="text" data-bind="value: FMCGData.PTD" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Distributor Margin</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputPassword3" placeholder="in %">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputRetailerMargin3" class="col-sm-2 control-label">Retailer Margin</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputPassword3" placeholder="in %">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</section>