@section SPAViews {
    @*@Html.Partial("_Home")*@
    <!-- ko with: home -->
    <section data-bind="page: {id: 'start', title: 'Pager.js Demo Start'}" id="homepage" class="view">
        <div class="tile-group quadro align-center-tiles">
            <div class="tile-container">
                <div class="tile bg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label"><a href="#/ManagingChannelPartner">MANAGING CHANNEL PARTNER</a></span>
                    </div>
                </div>
                <div class="tile bg-violet" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">
                            <span class="tile-label">MANAGING SALES TEAM</span>
                            @*@Html.ActionLink("", "Index", "Help", new { area = "HelpPage" }, null)*@
                        </span>
                    </div>
                </div>
                <div class="tile bg-emerald" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">MANAGING PROMOTION</span>
                    </div>
                </div>
                <div class="tile bg-amber" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">MANAGING PRODUCT</span>
                    </div>
                </div>
                <div class="tile bg-cobalt" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">FINANCIAL REPORTS</span>
                    </div>
                </div>
                <div class="tile bg-brown" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">MARKET RESEARCH REPORTS</span>
                    </div>
                </div>
                <div class="tile bg-blue" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">MAILBOX</span>
                    </div>
                </div>
                <div class="tile bg-red" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">HELP !!!</span>
                    </div>
                </div>
                <div class="tile bg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">
                            <a href="#/Admin">ADMIN</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /ko -->

    <section id="fmcg-channelpartnermanagement" data-bind="page: {id: 'channelpartnermanagement'}" class="view">
        <!-- ko with: fmcg -->
        <div class="grid">
            <h3>Channel Partner Management</h3>
            <div class="cells2">
                <div class="cell">
                    <form class="form-horizontal" action="#/Save" method="post">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">PTD</label>
                            <div class="col-sm-10">
                                <input type="text" data-bind="value: FMCGData.PTD" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Distributor Margin</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputPassword3" placeholder="in %">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputRetailerMargin3" class="col-sm-2 control-label">Retailer Margin</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputPassword3" placeholder="in %">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </section>
    <section id="fmcg-admin" data-bind="page: {id: 'admin'}" class="view">
        <!-- ko with: fmcg -->
        <div class="grid">
            <div class="row">
                <h3>FMCG - Admin - Market Share</h3>
            </div>
            <div class="row">
                <div class="cells2">
                    <div class="cell">
                        <form class="form-horizontal" data-bind="foreach: FMCGAdmin.Result">
                            <div>
                                <div class="form-group">
                                    <label data-bind="text: userName" for="inputEmail3" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-2">
                                        <label data-bind="text: marketShare" class="form-control" id="inputEmail3"></label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </section>

    @*@RenderPage("~/Views/Industries/fmcg/ChannelPartners/ChannelPartnerManagement.cshtml")
        @RenderPage("~/Views/Industries/fmcg/Admin/ResultState.cshtml")*@

}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}