<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <h2 class="panel-header-title">Sales Team Management</h2>
            </div>
            <div class="col-md-1">
                <i style="padding-top:3px" uib-tooltip="Guide" tooltip-placement="top" tooltip-trigger="mouseenter" class="fa fa-bars fa-2x"></i>
            </div>
            <div class="col-md-1">
                <i style="padding-top:3px" ng-click='open("lg")' uib-tooltip="Help" tooltip-placement="top" tooltip-trigger="mouseenter" class="fa fa-question-circle fa-2x"></i>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <section id="fmcg-salesteammanagement" class="view">
            <br />
            <div class="row">
                <div class="col-md-offset-1 col-md-7">
                    <div style="width:480px" id="carousel-Sales" class="carousel slide" ng-non-bindable data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-Sales" data-slide-to="0" class=""></li>
                            <li data-target="#carousel-Sales" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-Sales" data-slide-to="2" class="active"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img alt="First slide [900x500]" src="Content/Slides/Industries/fmcg/Sales/1.jpg" data-holder-rendered="true">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-Sales" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-Sales" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3">
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3">Salesmen</label>
                                <input type="number" ng-model="FMCGDataModel.NoOfSalesmen" popover-trigger="focus" uib-popover-template="FMCGDataModel.NoOfSalesmen < 12 || FMCGDataModel.NoOfSalesmen > 20 ? 'salesman.html' : ''" ng-disabled="isSelectedQuarterOver" class="form-control" id="inputEmail3">

                            </div>
                            <div class="form-group">
                                <label for="inputPassword3">Avg. Salary</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-inr"></i></div>
                                    <input type="text" ng-currency fraction="0" currency-symbol="" ng-model="FMCGDataModel.AvgSalary" popover-trigger="focus" uib-popover-template="FMCGDataModel.AvgSalary < 8000 || FMCGDataModel.AvgSalary > 15000 ? 'salary.html' : null" ng-disabled="isSelectedQuarterOver" class="form-control" id="inputPassword3" placeholder="in %">
                                    <div class="input-group-addon">.00</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRetailerMargin3">Training</label>
                                <select ng-model="FMCGDataModel.Training" ng-disabled="isSelectedQuarterOver" ng-options="choice.value as choice.option for choice in TrainingType" class="form-control"></select>

                            </div>
                            <div class="form-group">
                                <button type="submit" ng-click="savePlayerData()" ng-disabled="isSelectedQuarterOver" class="btn btn-default">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="panel-footer"></div>
</div>


<script type="text/ng-template" id="salesman.html">
    <div ng-show="FMCGDataModel.NoOfSalesmen <= 0">
        <div><strong>Sales Head :</strong></div>
        <div class="popover-red">Are you going to a battle without an army? Hire some PSMs.</div>
    </div>
    <div ng-show="FMCGDataModel.NoOfSalesmen > 0 && FMCGDataModel.NoOfSalesmen <= 11">
        <div><strong>Sales Head:</strong></div>
        <div class="popover-amber">Go through the market research report before finalizing the PSMs.</div>
    </div>
    <div ng-show="FMCGDataModel.NoOfSalesmen > 20 && FMCGDataModel.NoOfSalesmen < 50">
        <div><strong>Sales Head: </strong></div>
        <div class="popover-amber">We know there is a problem of unemployment. But you need to make sense while hiring so many PSMs.</div>
    </div>
    <div ng-show="FMCGDataModel.NoOfSalesmen >= 50">
        <div><strong>HR: </strong></div>
        <div class="popover-red">Are you hiring your relatives? The maximum people you can hire is 30, which is also high I think.</div>
    </div>
</script>

<script type="text/ng-template" id="salary.html">
    <div ng-show="FMCGDataModel.AvgSalary <= 5000">
        <div><strong>Sales Head :</strong></div>
        <div class="popover-red">At this salary you can only hire JUNK.</div>
    </div>
    <div ng-show="FMCGDataModel.AvgSalary > 5000 && FMCGDataModel.AvgSalary <= 8000">
        <div><strong>Sales Head:</strong></div>
        <div class="popover-amber">PSMs are the soldiers in this war. If you hire good soldiers you need to pay them accordingly.</div>
    </div>
    <div ng-show="FMCGDataModel.AvgSalary > 15000 && FMCGDataModel.AvgSalary < 25000">
        <div><strong>HR:</strong></div>
        <div class="popover-amber">I can authorize you the avg  salary. However, I strongly recommend you to give it a second thought.</div>
    </div>
    <div ng-show="FMCGDataModel.AvgSalary >= 25000">
        <div><strong>HR: </strong></div>
        <div class="popover-red">Are you hiring PSMs or Scientists. Keep the average salary below 25K.</div>
    </div>
</script>


<script type="text/ng-template" id="salesMgmt.html">

    <div class="row">
        <div class="col-md-12">
            <div id="carousel-PromManagement" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-Sales" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img style="width: 100%; height: 100%;" alt="First slide [900x500]" src="/Content/Slides/Industries/fmcg/Sales/1.jpg" data-holder-rendered="true">
                    </div>
                </div>
                <a ng-non-bindable class="left carousel-control" href="#carousel-Sales" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a ng-non-bindable class="right carousel-control" href="#carousel-Sales" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

</script>
