<form action="/" method="get">
    <button type="submit" class="btn btn-success">Back to Dashboard</button>
</form>
<section data-ng-app="ngHandsontableDemo" class="AdminView">
    <div data-ng-controller="DemoCtrl">
        <div id="adminsheet">
            <div class="row">
                <div class="col-md-12">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Q1" aria-controls="home" role="tab" data-toggle="tab">Quarter1</a></li>
                        <li role="presentation"><a href="#Q2" aria-controls="home" role="tab" data-toggle="tab">Quarter2</a></li>
                        <li role="presentation"><a href="#Q3" aria-controls="home" role="tab" data-toggle="tab">Quarter3</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Q1">
                            <div class="scroll-container">
                                <hot-table hot-id="Quarter1"
                                           row-headers="true"
                                           col-headers="true"
                                           datarows="FMCGGameDesignerSheet"></hot-table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Q2">
                            <hot-table hot-id="Quarter2"
                                       row-headers="true"
                                       col-headers="true"
                                       datarows="Quarter2"></hot-table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Q3">
                            <hot-table id="Quarter3"
                                       row-headers="true"
                                       col-headers="true"
                                       datarows="Quarter3"></hot-table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cells12">
                    <button class="btn btn-default" ng-click="saveAdminSheet()" type="submit">Save</button>
                    <button class="btn btn-default" ng-click="refreshData()" type="submit">RefreshData</button>
                    <button class="btn btn-default" ng-click="saveStaticData()" type="submit">Save Static Data</button>
                </div>
            </div>
        </div>
    </div>
</section>




@Scripts.Render("~/bundles/admin")
