<form action="/" method="get">
    <button type="submit" class="btn btn-success">Back to Dashboard</button>
</form>

    <div data-ng-controller="DemoCtrl">
        <div id="adminsheet">
            <div class="row">
                <div class="col-md-12">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#UploadFile" aria-controls="home" role="tab" data-toggle="tab">Upload Excel</a></li>
                        <li role="presentation"><a href="#Q1" aria-controls="home" role="tab" data-toggle="tab">Quarter1</a></li>
                        <li role="presentation"><a href="#Q2" aria-controls="home" role="tab" data-toggle="tab">Quarter2</a></li>
                        <li role="presentation"><a href="#Q3" aria-controls="home" role="tab" data-toggle="tab">Quarter3</a></li>
                        <li role="presentation"><a href="#Q4" aria-controls="home" role="tab" data-toggle="tab">Quarter4</a></li>
                        <li role="presentation"><a href="#BEquity" aria-controls="home" role="tab" data-toggle="tab">BrandEquity</a></li>
                        <li role="presentation"><a href="#Fin" aria-controls="home" role="tab" data-toggle="tab">Financials</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="UploadFile">
                            <div class="scroll-container">
                                <label class="control-label">Select File</label>
                                <input id="input-1" type="file" data-upload-url="/api/fmcgservice/Upload" class="file">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Q1">
                            <div class="scroll-container">
                                <hot-table hot-id="Quarter1"
                                           row-headers="true"
                                           col-headers="true"
                                           context-menu="true"
                                           col-widths="100"
                                           datarows="FMCGGameDesignerSheet.Quarter1"></hot-table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Q2">
                            <div class="scroll-container">
                                <hot-table hot-id="Quarter2"
                                           row-headers="true"
                                           col-headers="true"
                                           context-menu="true"
                                           col-widths="100"
                                           datarows="FMCGGameDesignerSheet.Quarter2"></hot-table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Q3">
                            <div class="scroll-container">
                                <hot-table hot-id="Quarter3"
                                           row-headers="true"
                                           col-headers="true"
                                           context-menu="true"
                                           col-widths="100"
                                           datarows="FMCGGameDesignerSheet.Quarter3"></hot-table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Q4">
                            <div class="scroll-container">
                                <hot-table hot-id="Quarter4"
                                           row-headers="true"
                                           col-headers="true"
                                           context-menu="true"
                                           col-widths="100"
                                           datarows="FMCGGameDesignerSheet.Quarter4"></hot-table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="BEquity">
                            <div class="scroll-container">
                                <hot-table hot-id="BrandEquity"
                                           row-headers="true"
                                           col-headers="true"
                                           context-menu="true"
                                           col-widths="100"
                                           datarows="FMCGGameDesignerSheet.BrandEquity"></hot-table>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="Fin">
                            <div class="scroll-container">
                                <hot-table hot-id="Financials"
                                           row-headers="true"
                                           col-headers="true"
                                           context-menu="true"
                                           col-widths="100"
                                           datarows="FMCGGameDesignerSheet.Financials"></hot-table>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="cells12">
                    @*<button class="btn btn-default" ng-click="saveAdminSheet()" type="submit">Save</button>*@
                    <button class="btn btn-default" ng-click="getPlayerData()" type="submit">Refresh Data</button>
                    @*<button class="btn btn-default" ng-click="saveStaticData()" type="submit">Save Static Data</button>*@
                </div>
            </div>
        </div>
    </div>
@*<section data-ng-app="ngHandsontableDemo" class="AdminView"></section>*@




@Scripts.Render("~/bundles/admin")
