<section class="AdminView">
    <div class="row">
        <h3>FMCG - Admin - Algo Manage</h3>
    </div>
    <div class="row">
        <div class="cells12">
            <div data-ng-app="ngHandsontableDemo">
                <div data-ng-controller="DemoCtrl">


                    <hot-table id="example2"
                               colheaders="true"
                               datarows="data1"></hot-table>


                    <h2>Data binding</h2>

                    <p>The below <code>input</code> field is bound to the <code>address</code> property of the first data row.</p>

                    <label>Address <input type="text" data-ng-model="data1[1][3]" style="width: 300px"></label>
                </div>
            </div>
        </div>
        <div class="footer-text">ngHandsontable &copy; 2012-2015 Marcin Warpechowski and contributors.<br> Code and documentation licensed under the The MIT License.</div>
    </div>






</section>

@Scripts.Render("~/bundles/admin")
