
<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

<strong><pre style="text-align:center">Select date to see registered games</pre></strong>
<div class="row">
    <div class="col-md-6">
        <div style="display:inline-block; min-height:290px;">
            <uib-datepicker ng-change="getGames()" ng-model="$parent.dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
        </div>
    </div>
    <div class="col-md-6">
        <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 well well-lg">
        
        <div class="row row-top-buffer">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-vertical">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-9 col-md-offset-3">
                                <h2>Enter Code<span class="label label-default"></span></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-4">
                                <input type="text" class="form-control input-lg text-center" id="gameCode" ng-model="selectedgame.gamecode" placeholder="CODE">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row row-top-buffer">
            <div class="col-md-7 col-md-offset-5">
                <form method="get">
                    <button class="btn-lg btn-success" ng-click="go('/playGame')" type="button">Play &nbsp; Now!</button>
                </form>
            </div>
        </div>
    </div>
</div>